<%= render 'layouts/header' %>
<div class="row">
  <div class="container">
    <blockquote>
      <h3>Notifications (<%= @count %>)</h3>
    </blockquote>
    <% @notifications.each do |n| %>
    <div class="col l12">
      <div class="card">
        <div class="info">
          <%= link_to user_path(n.actor), class: 'not-list' do %>
            <% if n.actor.image.exists? %>
              <%= image_tag n.actor.image.url %>
            <% else %>
              <img src="https://pbs.twimg.com/profile_images/453956388851445761/8BKnRUXg.png" alt="" class="profil-pic">
            <% end %>
            <%= n.actor.username %>
          <% end %>
          just followed you
        </div>
        <div class="card-action">
          <%= link_to notification_path(n), class: "btn-floating red", method: :delete, data:
          {confirm: "Really want to delete this notification?"} do %>
          <i class="material-icons">delete</i>
          <% end %>
        </div>
      </div>
  </div>
    <% end %>
  </div>
</div>
