<div class="row center">
  <div class="profile">
    <% if @user.image.exists? %>
      <%= image_tag @user.image.url(:thumb) %>
    <% else %>
      <img src="https://pbs.twimg.com/profile_images/453956388851445761/8BKnRUXg.png" alt="">
    <% end %>
    <h5><%= @user.name %></h5>
    <h6><%= @user.username %></h6>
    <p>Joined since <%= @user.created_at.strftime("%B") %>, <%= @user.created_at.strftime("%Y") %></p>
    <% if current_user?(@user) %>
      <%= link_to edit_user_path(@user), class: "btn-floating btn waves-effect waves-light pink" do %>
        <i class="material-icons">edit</i>
      <% end %>
    <% end %>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>
