<%= render 'layouts/header' %>
<br>
<%= render 'notifications/follow' %>
<div class="row">
  <div class="container">
    <div class="col l12">
      <%= form_tag posts_path, method: :get, remote: true do |f| %>
        <div class="col l3">
          <%= text_field_tag "search", nil, placeholder: 'Search someone...' %>
        </div>
        <div class="col l3">
          <%= button_tag(type: "submit", :id => 'search', class: 'btn-floating btn-medium waves-effect waves-light teal') do %>
            <i class="material-icons">search</i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="results">

    </div>
    <%= render 'posts/new'%>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col s12">
          <div class="card horizontal">
            <% if post.image.exists? %>
              <div class="card-image">
                <p><%= image_tag post.image.url(:medium) %></p>
              </div>
            <% end %>
            <div class="card-stacked">
              <div class="card-content">
                <h5 class="post-title"><%= link_to post.title, post_path(post) %></h5>
                Posted by <b><%= post.user.username %></b>
                <%= post.created_at.to_date %>
                <div class="card-action">
                  <p><%= post.content %></p>
                </div>
                <p><%= link_to 'See comments', post_path(post) %> <%= post.comments.count %> Comments</p>
                <br>
                <%= render 'posts/like_form', post: post%>
                <%= render 'posts/likes', post: post %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
